<!DOCTYPE html>
<html>
<head>
  <%= favicon_link_tag 'favicon.ico' %>
  <title>RecipeStash</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <link href='http://fonts.googleapis.com/css?family=Architects+Daughter' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,300,100&subset=latin,latin-ext">
  <link href='http://fonts.googleapis.com/css?family=Permanent+Marker' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
  <%= csrf_meta_tags %>
</head>

</div>
<% if current_user %>
    <%= link_to 'Logout', "/sessions/#{current_user.id}", method: :delete, class: "action-button shadow animate red logout"  %>
  <div class="stash_link">
    <%= link_to "See my Stash", stashes_path, class: "action-button shadow animate green",
          style: current_user.stashes.any? ? '' : 'display: none' %>
  </div>
  <% end %>
<body>

<%= yield %>

</body>
</html>