<!DOCTYPE html>
<html>
<head>
  <title>RecipeStash</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<header>
  <h1><%= link_to 'RecipeStash', root_path %></h1>
  <% if !current_user %>
    <%= link_to 'Register', new_user_path %>
    <%= link_to 'Login', new_session_path %>
<% else %>
    <%= link_to 'Logout', "/sessions/#{current_user.id}", method: :delete %>
    <%= link_to 'Search by Ingredients', new_recipes_preview_path %>
  <% end %>
</header>
<body>

<%= yield %>

</body>
</html>
